body {
  text-align: center;
  font-family: 'PT Sans';
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

a:visited {
  color: blue;
}

footer {
  margin-top: 20px;
}

input {
  margin: 0;
  padding: 4px;
  width: 100px;
  font-size: 100%;
  vertical-align: top;
  display: inline-block;
  border-radius: 4px 0 0 4px;
  border: 1px solid darkblue;
}

button {
  margin: 0;
  left: -4px;
  padding: 4px;
  color: white;
  font-size: 100%;
  cursor: pointer;
  position: relative;
  vertical-align: top;
  display: inline-block;
  border: 1px solid darkblue;
  background-color: darkblue;
  border-radius: 0 4px 4px 0;
}

#cmd-panel, #game-panel {
  margin: auto;
  display: flex;
  max-width: 700px;
  flex-direction: row;
  justify-content: space-around;
}

#cmd-panel {
  margin-bottom: 20px;
}

#sub-cmd-panel {
  margin-top: 20px;
}

#btn-start {
  color: white;
  cursor: pointer;
  border-radius: 4px;
  display: inline-block;
  transition: .1s linear;
  background-color: crimson;
  padding: 8px 20px 8px 20px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

#btn-start:hover {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
}

#player-info {
  display: none;
  background-color: crimson;
  color: white;
  text-transform: uppercase;
  padding: 8px 20px 8px 20px;
  border-radius: 4px;
}

.board {
  padding: 0;
  width: 300px;
  margin: auto;
  height: 300px;
  position: relative;
  border: 1px solid grey;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
}

@media(max-width: 640px) {
  #game-panel {
    flex-direction: column;
  }

  .board {
    margin: 0 auto 20px auto;
  }
}

.case {
  font-size: 1.6em;
  line-height: 100%;
  position: absolute;
  border: 1px solid lightgrey;
}

.case.miss {
  color: darkblue;
}

.case.hit {
  color: crimson;
}

.ship {
  position: absolute;
  transition: .2s ease;
  border: 1px solid darkblue;
}

.ship:active {
  border: 1px solid crimson;
}

.ship > div {
  top: 1px;
  left: 1px;
  position: absolute;
  background-color: white;
}
