body {
  text-align: center;
  font-family: 'PT Sans';
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

a:visited {
  color: blue;
}

footer {
  margin-top: 20px;
}

#game-panel{
  max-width: 700px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.board {
  position: relative;
  padding: 0;
  width: 300px;
  height: 300px;
  border: 1px solid grey;
}

.case-bg {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  background: lightgrey;
}

.case-bg > div {
  position: relative;
  top: 1px;
  left: 1px;
  width: 28px;
  height: 28px;
  background-color: white;
}

.ship {
  position: absolute;
  background-color: darkblue;
  transition: .2s ease;
}

.ship:active {
  background-color: crimson;
}

.ship > div {
  position: absolute;
  top: 1px;
  left: 1px;
  background-color: white;
}
